.home{background-image:url('https://img.freepik.com/premium-photo/businessman-pressing-smiley-face-emoticon-virtual-touch-screen-user-give-rating-service-experience-online-application-customer-review-satisfaction-feedback-survey-concept_818293-8.jpg?w=826');
background-repeat: no-repeat;
background-size:cover;
background-attachment: fixed;
height:600px}
.home h1{color:white}