.home{background-image:url('https://www.shutterstock.com/image-vector/crm-banner-customer-relationship-management-260nw-1501084943.jpg');
background-repeat: no-repeat;
background-size:cover;
background-attachment: fixed;
height:600px}
.home h1{color:white}