.signup{
    color: white;
    /* background-color: aliceblue; */
    padding: 40px;
    font-size: large;
}
.signup form{
    border-radius: 10px;
    border: 3px solid white;
    width: 60%;
    padding: 20px;
}
.signup input{
    /* background-color: whitesmoke; */
    border: 2px solid ;
}
.signup textarea{
    border: 2px solid ;
}
.signup select{
    border: 2px solid ;
}

@media only screen and (max-width: 800px) {
    .signup{
        padding: 20px;
    }

    .signup form{
        width: 90%;
        padding: 20px;
    }
}
